<style type="text/css">
.navbar-fixed .page-content {
    padding-top: 23px;
}

.fnt_siz_sm {
  font-size: 13.5px !important;
}

.agency-search-select {
   display: none;
}

</style>
<div data-page="form-elements" class="page">
  <div class="navbar form-div">
    <div class="navbar-inner">
      <div class="left">
        <a ng-if="root_edit_id" href="#/app/detail_procurement/{{root_edit_id}}" class="back link icon-only no-ripple"><i class="icon icon-back"></i></a>
        <a ng-if="!root_edit_id" href="#/app/home" class="back link icon-only"><i class="icon icon-back"></i></a>
      </div>
      <div class="center">Edit Procurement</div>
      <!-- <div class="right"><a  class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div> -->
    </div>
  </div>
  <div class="page-content form-div">
    <!-- <div class="content-block-title">Dynamic Form</div> -->
        <form ng-submit="save(data)">
        <div class="list-block inputs-list">
              <ul>
                <li id="{{field.id}}" ng-repeat="field in fields">
                      <!-- For text fields -->
                      <div ng-if="field.type=='text'" class="item-content">
                        <div class="item-media"><i class="icon {{field.icon}}"></i></div>
                        <div class="item-inner"> 
                          <div class="item-title fnt_siz_sm">{{field.title}}</div>
                          <div class="item-input">
                            <input type="{{field.real_type}}" ng-model="data[field.model]" placeholder=""/>
                          </div>
                        </div>
                      </div>

                      <!-- For select boxes -->
                      <div  ng-if="field.type=='select'" class="item-content">
                        <div class="item-media"><i class="icon {{field.icon}}"></i></div>
                        <div class="item-inner"> 
                          <div class="item-title fnt_siz_sm">{{field.title}}</div>
                          <div class="item-input">
                            ng-options="option.value as option.caption for option in config.options"
                            <select  ng-model="data[field.model]" ng-options="option.value as option.title for option in field.options">
                            </select>
                          </div>
                        </div>
                      </div>

                      <!-- For agency boxes -->
                     <!--  <div  ng-if="field.type=='select_agency'" class="item-content">
                        <div class="item-media"><i class="icon {{field.icon}}"></i></div>
                        <div class="item-inner"> 
                          <div class="item-title fnt_siz_sm">{{field.title}}</div>
                          <div class="item-input">
                            <select  ng-model="data[field.model]" ng-options="option.Customer_ID as option.Customer_Name for option in field.options">
                            </select>
                          </div>
                        </div>
                      </div> -->


                      <div  ng-if="field.type=='select_agency'" class="item-content">
                     <div class="item-media"><i class="icon {{field.icon}}"></i></div>
                     <div class="item-inner"> 
                        <div class="item-title floating-labels">{{field.title}}</div>
                        <div  class="item-input agency-select-box">
                           <input type="text" readonly="true" ng-model="agencyName" >
                        </div>
                     </div>
                  </div>





                      <!-- For sample boxes -->
                      <div  ng-if="field.type=='select_sample_category'" class="item-content">
                        <div class="item-media"><i class="icon {{field.icon}}"></i></div>
                        <div class="item-inner"> 
                          <div class="item-title fnt_siz_sm">{{field.title}}</div>
                          <div class="item-input">
                            <select ng-change="sample_category_selected()" ng-model="data[field.model]" >
                                <option ng-selected="data[field.model] == $index" ng-repeat="option in field.options" ng-value="$index">{{option.SampleCategory_Name}}</option>
                            </select>
                          </div>
                        </div>
                      </div>



                      <!-- For product category boxes -->
                      <div  ng-if="field.type=='select_product_category'" class="item-content">
                        <div class="item-media"><i class="icon {{field.icon}}"></i></div>
                        <div class="item-inner"> 
                          <div class="item-title fnt_siz_sm">{{field.title}}</div>
                          <div class="item-input">
                            <select ng-change="sample_product_selected()" ng-model="data[field.model]" >
                                <option  ng-selected="data[field.model] == $index" ng-repeat="option in field.options" ng-value="$index">{{option.ProductCategory_Name}}</option>
                            </select>
                          </div>
                        </div>
                      </div>



                      <!-- For sample boxes -->
                      <div  ng-if="field.type=='select_sample'" class="item-content">
                        <div class="item-media"><i class="icon {{field.icon}}"></i></div>
                        <div class="item-inner"> 
                          <div class="item-title fnt_siz_sm">{{field.title}}</div>
                          <div class="item-input">
                            <select ng-change="sample_selected()" ng-model="data[field.model]" >
                                <option  ng-selected="data[field.model] == $index" ng-repeat="option in field.options" ng-value="$index">{{option.Sample_Name}}</option>
                            </select>
                          </div>
                        </div>
                      </div>


                       <!-- For sample item boxes -->
                      <div  ng-if="field.type=='select_sample_item'" class="item-content">
                        <div class="item-media"><i class="icon {{field.icon}}"></i></div>
                        <div class="item-inner"> 
                          <div class="item-title fnt_siz_sm">{{field.title}}</div>
                          <div class="item-input">
                            <select ng-change="sample_item_selected()" ng-model="data[field.model]" >
                                <option  ng-selected="data[field.model] == $index" ng-repeat="option in field.options" ng-value="$index">{{option.SampleItem_Name}}</option>
                            </select>
                          </div>
                        </div>
                      </div>




                </li>
                
                
              </ul>
        </div>
        <div class="content-block">
              <p class="buttons-row">
                <button type="submit" class="button button-fill button-raised color-teal"> update </button>
                <button type="button" ng-click="back();"  class="button button-raised x_color-white no-ripple"> Cancel </button>
              </p>
        </div>
    </form>
  </div>




     <!-- Agency search select  header -->
     <div class="navbar agency-search-select">
        <div class="navbar-inner">
           <div class="left"><a ng-click="closeAgencySelect()" class="back link icon-only no-ripple"><i class="icon icon-back"></i></a></div>
           <div class="center">Select Agency/Client</div>
           <!-- <div class="right"><a  class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div> -->
        </div>
     </div>

     <!-- Agency search select body -->
     <div class="page-content agency-search-select">
        <div class="list-block">      
              <div class="item-content"> 
                   <div style=" width: 94%;" class="item-input item-input-field">
                     <input type="text" placeholder="Search here..." ng-model="searchTextClient" class="">
                   </div>
              </div>
              <ul>
                 <li style="padding-left:3%" class="item-inner ag" data-cid="{{agen}}" ng-repeat="agen in agencies | filter:searchTextClient">
                       {{agen.Customer_Name}}
                 </li>
              </ul>      
        </div>
     </div>
</div>