<style type="text/css">
.toolbar-fixed .page-content {
  padding-top: 39px !important;
}

</style>
<div data-page="tabs-static" class="page toolbar-fixed">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a href="#/app/home" class="back link icon-only no-ripple"><i class="icon icon-back"></i></a></div>
      <div class="center">Procurement List</div>
      <!-- <div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars"></i></a></div> -->
    </div>
  </div>
  
  <!-- <div class="toolbar tabbar">
      <div class="toolbar-inner">
          <a href="#/app/list_procurement/all" class="tab-link no-ripple">All</a>
          <a href="#/app/list_procurement/saved" class="tab-link no-ripple">Saved</a>
          <a href="#/app/list_procurement/completed" class="tab-link no-ripple">Completed</a>
      </div>
  </div> -->


    <!-- Pop Over -->
  <a style="background-color:#009688" href="#/app/add_procurement" class="floating-button" ng-click="showLoadNow()"><i class="icon icon-plus"></i></a>


  
  <div class="page-content">
    <div class="content-block-title">Procurement Lists </div>
  
    <div class="list-block">
      <ul>
        <li ng-repeat="dta in data">
          <a href="#/app/detail_procurement/{{dta.ProcurementId}}" class="item-link no-ripple">
            <p class="color-gray x_time">Collected on {{dta.Sampling_Datetime | date}}</p>

            <div class="item-content">

              <div class="item-inner"> 
                <div class="item-title">{{dta.SampleItem.SampleItem_Name}}</div>
                <div class="item-after">{{dta.Commodity}}</div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div ng-if="!data.length && !loading" class="card">
      <div class="card-content">
        <div class="card-content-inner"> 
          <p style="color:#e70707">No Procurement found</p>
        </div>
      </div>
    </div>
  </div>


</div>